<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Zwitter</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="<%= "active" if current_page?('/')  %>" >
                    <%= link_to('Home', root_url()) %>
                </li>
                <li><%= link_to('Sign up', new_user_registration_path()) %></li>
                <li><%= link_to('Sign in', new_user_session_path()) %></li>
            </ul>
        </div>
    </div>
</nav>